*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    scroll-behavior: smooth;
    min-height: 100vh;
    background: #f4f6fb;
    cursor: default;
}

body{
    font-family: var(--font-arimo);
}

@media (max-width: 764px){
    h1{
        font-size: 30px !important;
    }
}

@media (max-width: 680px){
    h1{
        font-size: 25px !important;
    }

    span {
        font-size: 14px !important;
    }

    p{
        font-size: 17px !important;
    }
}

@media (max-width: 480px){
    h1{
        font-size: 20px !important;
    }

    h2{
        font-size: 18px !important;
    }
}

:root{
    --primaria: #A78BFA;
    --textoPrincipal: #333333;
    --textoSecundario: #666666;
    --botaoNormal: #8B5CF6;
    --botaoHover: #7C3AED;
    --bordaDivisor: #E0DDF3;
    --realceLinkHover: #FBBF24;
}

