.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 25px 0;
    margin: 0 auto;

    h1{
        color: var(--textoPrincipal);
        font-size: 35px;
    }

    p{
        color: var(--textoSecundario);
        font-weight: 600;
        font-size: 20px;
    }

    span{
        color: var(--textoSecundario);
        max-width: 500px;
        text-align: center;
    }
}

.projetos{
    display: grid;
    grid-template-columns: auto auto;
    gap: 80px;
}

.infos{
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px #A78BFA;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transition: transform 0.3s ease;
}

.infos:hover{
    transform: scale(1.02);
    box-shadow: 0 4px 20px #A78BFA;
    border-radius: 15px;
}

.projeto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #f4f6fb;
    //padding: 10px 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 233px;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;

    a{
        text-decoration: none;
        background-color: var(--primaria);
        color: var(--textoPrincipal);
        padding: 10px;
        border-radius: 8px;
        font-size: 15px;
        font-weight: 600;
    }

    a:hover{
        background-color: var(--botaoHover);
    }
}

.icon{
    margin-bottom: -3px;
}

.descricao{
    display: flex;
    align-items: center;
    height: 74px;
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;

    h2{
        color: var(--textoSecundario);
    }
}

.capaContainer{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.capa{
    display: block;
    transition: filter 0.3s ease;
    box-shadow: 0 0 20px #A78BFA;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* escurece */
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
    padding: 10px;
    font-size: 1.5rem;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.capaContainer:hover .overlay {
    opacity: 1;
}

.capaContainer:hover .capa {
    filter: brightness(70%);
}

.tecnologias{
    color: var(--textoPrincipal) !important;
    font-weight: 600;
}

@media (max-width: 1140px) {
    .capa{
        height: 200px;
        width: 420px;
    }

    .container{
        p{
            font-size: 18px;
        }

        span{
            max-width: 410px;
            font-size: 14px;
        }
    }

    .projetos{
        gap: 50px;
    }
}

@media (max-width: 945px){
    .projetos{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}

@media (max-width: 768px){
    .overlay{
        opacity: 1;
        background: #a78bfa62;
        height: auto; /* só ocupa a altura do retângulo */
        bottom: 0;
        top: auto;
        padding: 8px;
        font-size: 1rem;
        justify-content: center;
        border-radius: 0;
    }

    .capaContainer:hover .capa{
        filter: brightness(100%);
    }
}

// @media (max-width: 945px) {
//     .capa{
//         height: 200px;
//         width: 350px;
//     }

//     .container{
//         span{
//             max-width: 340px;
//         }

//         p{
//             font-size: 17px;
//             max-width: 350px;
//             text-align: center;
//             padding-top: 8px;
//         }
//     }

//     .tecnologias{
//         height: 35px;
//     }

//     .links{
//         flex-direction: column;
//         gap: 5px;

//         a{
//             width: 190px;
//             text-align: center;
//         }
//     }

//     .projeto{
//         height: 330px;
//     }
// }

// @media (max-width: 800px){
//     .projetos{
//         display: flex;
//         flex-direction: column;
//         gap: 50px;
//     }

//     .capa{
//         height: 280px;
//         width: 500px;
//     }

//     .container{
//         p{
//             font-size: 20px;
//             padding-top: 0;
//         }

//         span{
//             max-width: 480px;
//             font-size: 16px;
//         }
//     }

//     .links{
//         flex-direction: row;
//         gap: 5px;
//     }

//     .vercel{
//         width: 130px !important;
//     }
// }

// @media (max-width: 680px){
//     .capa{
//         height: 220px;
//         width: 400px;
//     }

//     .container{
//         span{
//             max-width: 380px;
//         }
//     }

//     .projeto{
//         height: 280px;
//     }
// }

// @media (max-width: 480px){
//     .capa{
//         height: 200px;
//         width: 300px;
//     }

//     .projeto{
//         max-width: 300px;
//         height: 310px;
//         gap: 20px;
//     }

//     .container{
//         span{
//             max-width: 280px;
//         }
//     }

//     .links{
//         flex-direction: column;

//         a{
//             width: 190px !important;
//             text-align: center;
//         }
//     }
// }